/* Header: */

header#header {
  grid-column: container-start / container-end;
  background: linear-gradient(
      var(--color-modified-primary-light),
      var(--color-modified-primary-light)
    ),
    url(img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
}

.header-main-nav input[type="checkbox"] {
  position: absolute;
  top: 3rem;
  left: 3rem;
  height: 5rem;
  width: 5rem;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.header-main-nav-hamburger {
  position: absolute;
  top: 3rem;
  left: 3rem;
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  background-color: var(--color-secondary);
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  /* display: grid;
    place-items: center; */

  animation: main-nav-hamburger 2s;
}

@keyframes main-nav-hamburger {
  0% {
    transform: translateX(190rem) rotate(1800deg);
    opacity: 0;
  }

  100% {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}

.header-main-nav-hamburger > div {
  position: relative;
  height: 0.3rem;
  width: 100%;
  background-color: var(--color-fourth);
  display: grid;
  place-items: center;
  transition: all var(--transition-duration) ease-in-out;
}

.header-main-nav-hamburger > div::before,
.header-main-nav-hamburger > div::after {
  content: "";
  position: absolute;
  top: -1rem;
  width: 60%;
  height: inherit;
  background-color: inherit;
  z-index: 2;
}

.header-main-nav-hamburger > div::before {
  left: 0;
}

.header-main-nav-hamburger > div::after {
  top: 1rem;
  right: 0;
}

.header-main-nav
  input[type="checkbox"]:checked
  + .header-main-nav-hamburger
  > div {
  transform: rotate(135deg);
}

.header-main-nav
  input[type="checkbox"]:checked
  + .header-main-nav-hamburger
  > div::before {
  top: 0;
  left: 0;
  width: 100%;
  transform: rotate(270deg);
}

.header-main-nav
  input[type="checkbox"]:checked
  + .header-main-nav-hamburger
  > div::after {
  opacity: 0;
}

.header-main-nav
  input[type="checkbox"]:checked:hover
  + .header-main-nav-hamburger
  > div {
  transform: rotate(405deg);
}

.header-main-nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.header-main-nav-menu > div {
  background-color: var(--color-modified-secondary-dark);
  height: 200%;
  width: 200%;
  display: grid;
  place-items: center;
  transform: scaleX(0);
  transition: all var(--transition-duration) ease-in-out;
}

.header-main-nav-menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.header-main-nav-menu ul li a {
  color: black;
}

.header-main-nav input[type="checkbox"]:checked ~ .header-main-nav-menu {
  visibility: visible;
}

.header-main-nav input[type="checkbox"]:checked ~ .header-main-nav-menu > div {
  transform: scaleX(1);
  transition-duration: 0.5s;
}

.header-main-nav
  input[type="checkbox"]:checked
  ~ .header-main-nav-menu
  > div
  > div {
  opacity: 1;
}

.header-main-nav-menu ul li a:link,
.header-main-nav-menu ul li a:visited {
  z-index: 5;
  position: relative;
}

.header-main-nav-menu ul li a:link::before,
.header-main-nav-menu ul li a:visited::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scaleY(0);
  background-color: var(--color-modified-primary-dark);
  transition: transform var(--transition-duration) ease-in-out;
}

.header-main-nav-menu ul li a:hover::before,
.header-main-nav-menu ul li a:active::before {
  transform: scaleY(1);
}

.header-logo-text-container {
  display: grid;
  grid-template-columns: 1fr minmax(30rem, 1fr) 1fr;
  grid-template-rows: min-content;
  height: 90%;
  justify-items: center;
}

.header-logo {
  grid-column: 2 / 3;
  letter-spacing: 0.2rem;
}

.header-logo span {
  color: var(--color-third);
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
}

.header-text-container {
  grid-column: 1 / -1;
  align-self: center;
}

.header-text-title {
  font-size: calc(4rem + 4vw);
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  padding: 0 2rem 0 var(--font-size-section-title);
}

.header-text-paragaph {
  font-size: calc(1rem + 2vw);
  font-weight: 500;
  padding: 2vh 2rem 6vh var(--font-size-section-title);
}

.header-text-link:link,
.header-text-link:visited {
  margin-left: var(--font-size-section-title);
  border: 0.2rem solid var(--color-third);
}

.header-text-link:link::before,
.header-text-link:visited::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-third);
  transform: scaleX(0);
  transition: transform 0.45s cubic-bezier(1, 0, 0, 1);
  z-index: -1;
}

.header-text-link:hover::before,
.header-text-link:active::before {
  transform: scaleX(1);
}
