*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main components */

:root {
  font-size: 62.5%;
  /* colors */

  --color-primary: #730039;
  --color-modified-primary-light: hsla(330, 100%, 23%, 0.55);
  --color-modified-primary-dark: hsla(330, 100%, 23%, 0.85);

  --color-secondary: #ffc513;
  --color-modified-secondary-light: hsla(45, 100%, 54%, 0.55);
  --color-modified-secondary-dark: rgba(255, 196, 19, 0.85);

  --color-third: #ff724c;
  --color-modified-third-light: hsla(13, 100%, 65%, 0.55);
  --color-modified-third-dark: rgba(255, 115, 76, 0.85);

  --color-fourth: #f6eedf;
  --color-modified-fourth-light: hsla(39, 56%, 92%, 0.55);
  --color-modified-fourth-dark: hsla(39, 56%, 92%, 0.85);

  /* transition duration */

  --transition-duration: 0.3s;

  /* section title font size */

  --font-size-section-title: calc(2rem + 2vw);

  /* font family */

  --font-family-text: "Titillium Web", sans-serif;

  /* section padding */

  --padding-section: 8vh 3vw;
}

body {
  font-family: var(--font-family-text);
  line-height: 1.7;
  background-color: var(--color-fourth);
}

a:link,
a:visited {
  color: var(--color-fourth);
  text-decoration: none;
  font-size: calc(1rem + 1vw);
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  position: relative;
  transition: all var(--transition-duration) cubic-bezier(1, 0, 0, 1);
  z-index: 1;
}

p {
  color: white;
  font-size: calc(1rem + 1vw);
  font-weight: 200;
}

li {
  list-style: none;
  margin-bottom: 3.5rem;
}

i {
  font-size: var(--font-size-section-title);
  color: var(--color-secondary);
}

/* grid system */

.container {
  display: grid;
  grid-template-columns:
    [container-start] 1fr [center-start] repeat(
      10,
      [column-start] minmax(min-content, 11rem) [column-end]
    )
    [center-end]
    1fr [container-end];

  grid-template-rows: 100vh repeat(8, min-content);
}

/* Booking Content Section: */

section#booking-content {
  grid-column: center-start / column-end 6;
  padding: var(--padding-section);
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 2vh;
}

section#booking-content p {
  color: var(--color-primary);
}

.booking-content-title {
  font-size: var(--font-size-section-title);
  padding: 0 2rem 1rem;
  font-weight: 300;
  position: relative;
}

.booking-content-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15%;
  height: 0.3rem;
  width: 30%;
  background-color: var(--color-secondary);
}

.booking-content-paragraph {
  margin-top: 4rem;
  padding: 2rem;
  margin-bottom: calc(4rem + 5vw);
}

.booking-content-icons {
  margin-left: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
}

.booking-content-icons-weather,
.booking-content-icons-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking-content-icons-weather p {
  margin-left: calc(1rem + 0.5vw);
}

.booking-content-icons-time p {
  margin-left: calc(1rem + 0.3vw);
}

.booking-content-icons-time i {
  margin-left: calc(1rem + 0.3vw);
}

/* Booking Date Section: */

section#booking-date {
  grid-column: column-start 7 / center-end;
  padding: var(--padding-section);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.booking-date-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2vw;
  place-items: center;
  margin-bottom: 3rem;
}

.booking-date-container p {
  color: var(--color-primary);
  font-weight: 600;
}

.booking-date-container-arrival,
.booking-date-container-departure,
.booking-date-container-guests {
  display: grid;
  grid-row-gap: 3vh;
}

.booking-date-container-arrival h5,
.booking-date-container-departure h5,
.booking-date-container-guests h5 {
  font-size: calc(1rem + 1vw);
  text-align: center;
  margin-bottom: calc(0.5rem + 0.5vw);
}

.booking-date-container-arrival > div,
.booking-date-container-departure > div,
.booking-date-container-guests > div {
  background-color: var(--color-secondary);
  padding: 2rem 4rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  position: relative;
}

.booking-date-container-arrival > div::before,
.booking-date-container-departure > div::before,
.booking-date-container-guests > div::before,
.booking-date-container-arrival > div::after,
.booking-date-container-departure > div::after,
.booking-date-container-guests > div::after {
  content: "";
  position: absolute;
  left: 50%;
  border-width: 1.5rem;
  margin-left: -1.5rem;
  border-style: solid;
  cursor: pointer;
}

.booking-date-container-arrival > div::before,
.booking-date-container-departure > div::before,
.booking-date-container-guests > div::before {
  bottom: 100%;
  border-color: transparent transparent var(--color-secondary) transparent;
}

.booking-date-container-arrival > div::after,
.booking-date-container-departure > div::after,
.booking-date-container-guests > div::after {
  top: 100%;
  border-color: var(--color-secondary) transparent transparent transparent;
}

.cursor-pointer {
  cursor: pointer;
}

.booking-date-reservation {
  align-self: end;
}

.booking-date-reservation a {
  color: var(--color-primary);
}

.booking-date-reservation-link:link,
.booking-date-reservation-link:visited {
  background-color: var(--color-secondary);
  transition: all 0.2s ease-in-out;
}

.booking-date-reservation-link:hover,
.booking-date-reservation-link:active {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border: 0.1rem var(--color-secondary) solid;
}

.booking-date-reservation p {
  color: var(--color-primary);
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
}

.booking-date-reservation-text p:first-of-type {
  margin-top: 4rem;
  text-align: center;
}

.booking-date-reservation p:last-of-type {
  margin-bottom: auto;
}

.bullet-parag::before {
  content: "\2022";
  color: var(--color-primary);
  display: inline-block;
  font-size: calc(1.5rem + 2vw);
  width: 1em;
  margin-right: 0.5rem;
  line-height: 1;
}

/* Villas Section: */

section#villas {
  grid-column: container-start / container-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
}

.villas-villa {
  padding: 2rem;
  transition: transform var(--transition-duration) ease-in-out;
}

.villas-villa:hover,
.villas-villa:active {
  transform: scale(1.05);
}

.villas-villa-title {
  font-size: calc(1.5rem + 1vw);
  text-align: center;
  color: var(--color-modified-fourth-dark);
  text-transform: uppercase;
  margin-bottom: calc(1rem + 1.5vw);
}

.villas-villa-paragraph {
  font-size: calc(1rem + 0.8vw);
  color: var(--color-fourth);
  font-weight: 500;
  margin-bottom: calc(1rem + 1vw);
}

.villas-villa-links {
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.villas-villa-links a:first-of-type {
  margin-bottom: calc(1rem + 0.3vw);
}

.villas-villa-links a:link,
.villas-villa-links a:visited {
  display: inline-block;
  z-index: 2;
  overflow: hidden;
}

.villas-villa-links a:hover,
.villas-villa-links a:active {
  color: black;
}

.villas-villa-links a:first-of-type::before,
.villas-villa-links a:first-of-type::before,
.villas-villa-links a:last-of-type::before,
.villas-villa-links a:last-of-type::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 0;
  z-index: -1;
  background-color: var(--color-modified-secondary-dark);
  transition: height var(--transition-duration) ease-in-out;
}

.villas-villa-links a:hover::before,
.villas-villa-links a:active::before {
  height: 400%;
}

.villas-villa:nth-of-type(odd) a:first-of-type:link::before,
.villas-villa:nth-of-type(odd) a:first-of-type:visited::before,
.villas-villa:nth-of-type(odd) a:last-of-type:link::before,
.villas-villa:nth-of-type(odd) a:last-of-type:visited::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.villas-villa:nth-of-type(even) a:first-of-type:link::before,
.villas-villa:nth-of-type(even) a:first-of-type:visited::before,
.villas-villa:nth-of-type(even) a:last-of-type:link::before,
.villas-villa:nth-of-type(even) a:last-of-type:visited::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.villas-villa-1 {
  background: linear-gradient(
      var(--color-modified-primary-light),
      var(--color-modified-third-light)
    ),
    url("img/Villas/villa-1.jpg");
}

.villas-villa-2 {
  background: linear-gradient(
      var(--color-modified-primary-light),
      var(--color-modified-third-light)
    ),
    url("img/Villas/villa-2.jpg");
}

.villas-villa-3 {
  background: linear-gradient(
      var(--color-modified-primary-light),
      var(--color-modified-third-light)
    ),
    url("img/Villas/villa-3.jpg");
}

.villas-villa-4 {
  background: linear-gradient(
      var(--color-modified-primary-light),
      var(--color-modified-third-light)
    ),
    url("img/Villas/villa-4.jpg");
}

.villas-villa-5 {
  background: linear-gradient(
      var(--color-modified-primary-light),
      var(--color-modified-third-light)
    ),
    url("img/Villas/villa-5.jpg");
}

.villas-villa-6 {
  background: linear-gradient(
      var(--color-modified-primary-light),
      var(--color-modified-third-light)
    ),
    url("img/Villas/villa-6.jpg");
}

.villas-villa-1,
.villas-villa-2,
.villas-villa-3,
.villas-villa-4,
.villas-villa-5,
.villas-villa-6 {
  background-position: center;
  background-size: cover;
}

/* Motto Section: */

section#motto {
  background-color: var(--color-primary);
  grid-column: container-start / container-end;
  padding: 10vh;
}

.motto-content-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.motto-content-container h2 {
  font-size: var(--font-size-section-title);
  padding: 0 2rem 1rem;
  color: var(--color-fourth);
  text-transform: uppercase;
  margin-bottom: 2rem;
  position: relative;
}

.motto-content-container h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 45%;
  height: 0.2rem;
  width: 10%;
  background-color: var(--color-fourth);
}

.motto-content-container p {
  color: var(--color-fourth);
  margin-top: 2rem;
}

/* Events Content Section: +  Features Content Section: */

section#events-content,
section#features-content {
  grid-column: container-start / column-end 9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

section#events-content > div,
section#features-content > div {
  padding: var(--padding-section);
  display: grid;
  grid-template-areas:
    "title"
    "paragraph";
  grid-row-gap: 4vh;
  align-items: center;
  justify-items: start;
}

.events-content-event h2,
.features-content-feature h2 {
  font-size: var(--font-size-section-title);
  color: var(--color-fourth);
  font-weight: 500;
  letter-spacing: 0.2rem;
  line-height: 1.2;
  place-self: center;
}

.events-content-event p,
.features-content-feature p {
  letter-spacing: 0.2rem;
  line-height: 1.4;
  color: var(--color-fourth);
  font-weight: 400;
}

.events-content-event-1 {
  background: linear-gradient(
      var(--color-modified-third-light),
      var(--color-modified-third-light)
    ),
    url("img/Events/beach-party.jpg");
  border-right: 0.2rem solid var(--color-third);
}

.events-content-event-1-title,
.events-content-event-2-title,
.features-content-feature-1-title,
.features-content-feature-2-title {
  grid-area: title;
}

.events-content-event-1-paragraph,
.events-content-event-2-paragraph,
.features-content-feature-1-paragraph,
.features-content-feature-2-paragraph {
  grid-area: paragraph;
}

.events-content-event-2 {
  background: linear-gradient(
      var(--color-modified-third-light),
      var(--color-modified-third-light)
    ),
    url("img/Events/culture-discovery.jpg");
  border-left: 0.2rem solid var(--color-third);
}

.events-content-event-1,
.events-content-event-2 {
  background-position: center;
  background-size: cover;
}

/* Events Date Section: */

section#events-title,
section#gallery-title,
section#features-title {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
}

section#events-title {
  background-color: var(--color-third);
  grid-column: column-start 10 / center-end;
}

.events-gallery-features-title-container {
  transform: rotate(90deg);
}

.events-gallery-features-title {
  color: var(--color-fourth);
  font-size: var(--font-size-section-title);
  font-weight: 500;
  letter-spacing: 0.3rem;
}

/* Gallery Title Section: */

section#gallery-title {
  background-color: var(--color-primary);
  grid-column: center-start / column-end 1;
}

section#gallery-title h2 {
  transform: rotate(180deg);
}

/* Gallery Carousel Section: */

section#gallery-carousel {
  grid-column: column-start 2 / container-end;
  height: 80vh;
  overflow: hidden;
  border: 0.2rem solid var(--color-secondary);
  position: relative;
}

.gallery-carousel-image-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.gallery-carousel-image-container img {
  height: 100%;
  width: 100%;
}

.gallery-carousel-image-container-list {
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform var(--transition-duration) ease-in-out;
}

.gallery-carousel-image-container-list-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery-carousel-image-container-list-item .gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.gallery-carousel-btn-right {
  right: 0;
}

.gallery-carousel-navigation {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  height: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(10, 1fr);
  gap: 3rem;
}

.gallery-carousel-navigation-btn {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--color-secondary);
  border: none;
  cursor: pointer;
}

.gallery-carousel-navigation .current-image {
  background-color: var(--color-primary);
}

.hidden {
  display: none;
}

/* Features Content Section: */

.features-content-feature-1 h2,
.features-content-feature-1 p,
.features-content-feature-2 h2,
.features-content-feature-2 p {
  color: black;
}

.features-content-feature h2 {
  text-align: center;
}

.features-content-feature-1 {
  background: linear-gradient(
      var(--color-modified-secondary-light),
      var(--color-modified-secondary-light)
    ),
    url("img/Features/cocktail.jpg");
  border-right: 0.2rem solid var(--color-secondary);
}

.features-content-feature-2 {
  background: linear-gradient(
      var(--color-modified-secondary-light),
      var(--color-modified-secondary-light)
    ),
    url("img/Features/surfing.jpg");
  border-left: 0.2rem solid var(--color-secondary);
}

.features-content-feature-1,
.features-content-feature-2 {
  background-position: center;
  background-size: cover;
}

/* Features Title Section: */

section#features-title {
  background-color: var(--color-secondary);
  grid-column: column-start 10 / center-end;
}

.features-container h2 {
  color: black;
}

/* Testimonials Section: */

section#testimonials {
  grid-column: center-start / center-end;
  padding: var(--padding-section);
  display: grid;
  grid-template-columns: repeat(auto-fit, 28rem);
  gap: 5rem;
  place-content: center;
}

.testimonials-card {
  width: 28rem;
  height: 50rem;
  position: relative;
}

.testimonials-card-front,
.testimonials-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
  backface-visibility: hidden;
  transform: perspective(100rem);
  display: grid;
  justify-items: center;
  align-items: start;
  padding: 3rem;
}

.testimonials-card-front h2 {
  background-color: var(--color-modified-secondary-light);
  padding: 1rem;
  padding-bottom: 1.5rem;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  font-weight: 700;
  font-size: 2.5rem;
}

.testimonials-card-back p {
  place-self: center;
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-primary);
  letter-spacing: 0.2rem;
}

.testimonials-card-back {
  transform: perspective(100rem) rotateY(0.5turn);
  background-color: var(--color-secondary);
}

.testimonials-card:hover .testimonials-card-front {
  transform: perspective(100rem) rotateY(0.5turn);
}

.testimonials-card:hover .testimonials-card-back {
  transform: perspective(100rem) rotateY(1turn);
}

.testimonials-card-1 .testimonials-card-front {
  background-image: url("img/Testimonials/testimonials-1.jpg");
}

.testimonials-card-2 .testimonials-card-front {
  background-image: url("img/Testimonials/testimonials-2.jpg");
}

.testimonials-card-3 .testimonials-card-front {
  background-image: url("img/Testimonials/testimonials-3.jpg");
}

.testimonials-card-4 .testimonials-card-front {
  background-image: url("img/Testimonials/testimonials-4.jpg");
}

.testimonials-card-5 .testimonials-card-front {
  background-image: url("img/Testimonials/testimonials-5.jpg");
}

.testimonials-card-6 .testimonials-card-front {
  background-image: url("img/Testimonials/testimonials-6.jpg");
}

.testimonials-card-1 .testimonials-card-front,
.testimonials-card-2 .testimonials-card-front,
.testimonials-card-3 .testimonials-card-front,
.testimonials-card-4 .testimonials-card-front,
.testimonials-card-5 .testimonials-card-front,
.testimonials-card-6 .testimonials-card-front {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
